 .header{
    background-color: #3c5a9b;
    height: 70px;
    width: 100%;
 }

 .footer{
    background-color: #ffffff;
    height: 100px;
    width: 100%;
 }

 body{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .logo{
    width: 50%;
    padding-top: 12px;
    float: left;
 }

 .logo-text{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 100px;
 }

 .login{
    width: 50%;
    float: left;
    margin-top: 4px;
 }

 .login-label{
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    float: left;
    width: 120px;
    height: 15px;
 }

 .login-controls{
    margin-left: 120px;
 }

.forgotten{
    font-size: 10px;
    text-decoration: none;
    color:#5773ae;
    font-weight: bold;
    color: #99add6;
}

.sub-btn{
    width: 39px;
    height: 16px;
    background: #5773ae;
    color: white;
    padding: 0px;
    font-size: 9px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(60, 60, 133);
    margin-top: 1px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.15s,
    color 0.15s 
}

.sub-btn:hover{
    background-color: rgba(60, 60, 133, 0.453);
    color: rgba(255, 255, 255, 0.762);
    border-color: #5772aeaf;
}

.table-btn{
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(101, 117, 126);
    margin-right: 8px;
    width: 140px;
}

.left-section{
    width: 55%;
    float: left;
}

.right-section{
    width: 45%;
    float: left;
}

.main-body{
    background: rgb(145,234,235);
    background: linear-gradient(0deg, rgba(145,234,235,1) 0%, rgba(255,255,255,1) 71%);
    width: 100vw;
    height: 518px;

}

.image{
    width: 420px;
    padding-left: 160px;
}

.para-align{
    padding-left: 145px;
    padding-top: 35px;
    font-size: 22px;
    font-weight: bold;
    color: #3c5a9b;
}

.para1-align{
    padding-left: 100px;
    color: #1e2b48;
    font-size: 14px;
}

.create-head{
    padding-left: 100px;
    padding-top: 30px;
    font-size: 35px;
    color: #1e2b48;
    margin: 0px;
}

.create-account{
    width: 500px;
    margin-left: 90px;  
}

.input-area {
    margin: 10px;
    height: 21px;
    width: 335px;
    border-radius: 6px;
    font-size: 13px;
    color: grey;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(208, 195, 195);
} 

.name-area{
    display: flex;
    flex-direction: column;
    width: 150px;
    float: left;
    border-radius: 6px;
    margin-top: 10px;
}

.option-area{
    margin-left: 8px;
    font-size: 13px;
    padding-left: 4px;
    width: 51px;
    height: 20px;
    float: left;
}

.option1-area{
    margin-top: 10px;
    margin-left: 0px;
    width: 68px;
    height: 20px;
    color: grey;
    font-size: 15px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(208, 195, 195);
}

.option2-area{
    margin-top: 10px;
    margin-left: px;
    width: 57px;
    height: 20px;
    color: grey;
    font-size: 15px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(208, 195, 195);
}

.word-area{
    margin-top: 5px;
    margin-left: 7px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(86, 85, 85, 0.587);
}

.word1-area{
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(86, 85, 85, 0.587);
    margin-bottom: 5px;
}

.checkname-area{
    font-size: 13px;
    font-weight: 480;
}

.para2-align{
    margin-left: 16px;
    font-size: 11.5px;
    color: grey;
}

.sub-area{
    margin-left: 16px;
    margin-top: 9px;
    height: 32px;
    width: 152px;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(176, 89, 89);
    color: white;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(172, 133, 133);
    transition: background-color 0.15s, color 0.15s;
}

.sub-area:hover{
    background-color: rgba(176, 89, 89, 0.827);
    color: rgba(255, 255, 255);
}

.sub-area:active{
    background-color: #3c5a9b;
}

.span-area{
    color: #406cca;
    cursor: pointer;
}

.span-area:hover{
    text-decoration: underline;
}

.footer-contents{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

footer ol{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
    margin-bottom: 0px;
    margin-top: 4px;
}

footer ol:first-child{
    border-bottom: 1px solid #dddfe2;
}

footer ol:first-child li:last-child button {
    background-color: white;
    border: 1px solid white;
    outline: none;
    padding: 0 8px;
    font-weight: 700;
    font-size: 16px;
} 


footer ol li {
    padding-right: 15px;
    font-size: 10px;
}

footer ol li a{
    text-decoration: none;
}

footer ol li a:hover {
    text-decoration: underline;
}

footer small {
    font-size: 14px;
}